# URL base del backend NestJS (módulo de A: juegos, módulo de C: auth)
VITE_API_URL=http://localhost:3000

# true  -> usa el arreglo mock de src/data/mockJuegos.js (mientras A no tenga listo el backend)
# false -> usa axios contra VITE_API_URL (cuando A avise que el backend real está listo)
VITE_USE_MOCK=true
